flow_node-red.txt
[{"id":"8c8584ae.92b918","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"689c56bb.ec8318","type":"ui_button","z":"8c8584ae.92b918","name":"","group":"937edb13.16cdb8","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hola","payloadType":"str","topic":"","x":190,"y":280,"wires":[["cd2bc3d3.ce64a","e79a79ec.1303a8"]]},{"id":"cd2bc3d3.ce64a","type":"ui_text","z":"8c8584ae.92b918","group":"937edb13.16cdb8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":280,"wires":[]},{"id":"e79a79ec.1303a8","type":"ui_led","z":"8c8584ae.92b918","group":"937edb13.16cdb8","order":2,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"purple","value":"hola","valueType":"str"},{"color":"yellow","value":"chau","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":360,"y":180,"wires":[]},{"id":"a3a9c66d.128228","type":"ui_button","z":"8c8584ae.92b918","name":"","group":"937edb13.16cdb8","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"chau","payloadType":"str","topic":"","x":170,"y":200,"wires":[["e79a79ec.1303a8","cd2bc3d3.ce64a"]]},{"id":"f6b80d70.42da3","type":"mqtt out","z":"8c8584ae.92b918","name":"","topic":"","qos":"","retain":"","broker":"18ae9eec.ac3271","x":390,"y":380,"wires":[]},{"id":"e9242cc0.bc494","type":"mqtt in","z":"8c8584ae.92b918","name":"","topic":"Nodo_luzAfuera/Info/#","qos":"2","broker":"18ae9eec.ac3271","x":240,"y":500,"wires":[["c07c001c.da2df"]]},{"id":"c07c001c.da2df","type":"debug","z":"8c8584ae.92b918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":480,"wires":[]},{"id":"a6b5dbf3.f83208","type":"inject","z":"8c8584ae.92b918","name":"","topic":"Nodo_luzAfuera/Cmd/Luz","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["f6b80d70.42da3"]]},{"id":"937edb13.16cdb8","type":"ui_group","z":"","name":"Default","tab":"474eb3dc.f17f9c","disp":true,"width":"6","collapse":false},{"id":"18ae9eec.ac3271","type":"mqtt-broker","z":"","name":"local","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"474eb3dc.f17f9c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]